/* You can add global styles to this file, and also import other style files */



/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #00BFD4;
    --secondary-color: #6c757d;
    --white-color: #FFFFFF;
    --success-color: #198754;
    --danger-color: rgb(255, 94, 0);
    --background-color: #424242;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    color: var(--white-color) !important;
    background-color: #424242;
}

.add-button {
    background-color: var(--secondary-color) !important;
}

.delete-button {
    background-color: var(--danger-color) !important;
    color:#FFFFFF;
}

.clear-button {
    background-color: var(--primary-color) !important;
    color: var(--white-color) !important;

}

.success-snackbar {
    color: white;
    --mdc-snackbar-container-color: var(--success-color);
    .mat-simple-snackbar-action {
        color: white;
    }
}

.error-snackbar {
    max-width: max-content !important;
    color: white;
    --mdc-snackbar-container-color: var(--danger-color);
    border-color: #f5c6cb;

    .mat-simple-snackbar-action {
        color: white;
    }
}


.add-snackbar {
    background-color: #3C730F !important;
}

.delete-snackbar {
    background-color: #EF4F16 !important;
}

.delete-snackbar {
    background-color: #EF4F16 !important;
    position: fixed !important;
    top: 0 !important;
    right: 0 !important;
}

.snackbar-green {
    background-color: #3C730F;
    color: #FFFFFF;
}

.snackbar-red {
    background-color: #EF4F16;
    color: #FFFFFF;
}